*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}




.container2{
    max-width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inside-container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
    height: auto;
}
.header-one{
    width: 1360px;
    height: 410px;
    overflow: hidden;
    background-color: #dfdfdf;
}
.header-one img{
    width: 1360px;
    height: 410px;
    object-fit: cover;
    
}

.line-gradients{
    position: relative;
    bottom: 93px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #181717c7;
    background: linear-gradient(to bottom, rgba(51, 64, 68, 0), #181717c7);
    height: 90px;
}

.infodump{
    padding: 2px;
    position: relative;
    bottom: 120px;
}

.left-infomat{
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 9px;
}

.usernameme{
    color: #fff;
    font-size: 40px;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px, rgb(0, 0, 0) 0px 0px 8px;
}

.imageprofile{
   width: 190px;
   height: 190px;
   background-color: #dfdfdf;
   border-radius: 100%;
}

.imageprofile img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    padding: 2px;
    background: #fff;
    border-radius: 100%;
}

.infomat{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding: 3px;
    width: 1140px;
}

.informat1{
    top: 19px;
    position: relative;
}

.informat1, .informat2{
    display: flex;
    justify-content: space-between;
}
.trophe{
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 29px;
    width: 29px;
    padding: 19px;
    background: #fff;
    margin: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.trophe img{
    width: 18px;
    height: 18px;
}

.informat2{
    padding: 7px;
    gap: 9px;
    align-items: center;
}

.seetings-web{
    background-color: transparent;
    color: #aaaaaa;
    cursor: pointer;
}

.profile-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.tabs-profile{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.tabs-profile a{
    color: #aaaaaa;
}

.tabs-profile button{
    background: none;
    border: none;
    cursor: pointer;
    color: #aaaaaa;
    font-size: 16px;
}

.tablinks.active{
    color: #4a4a4a;
}

.uder-line3.active{
    display: flex;
    position: relative;
    top: 19px;
    z-index: 1;
    border-bottom: 3px solid #e84393; 
}
.uderline-profile{
    display: flex;
    position: relative;
    top: -30px;
    z-index: -9;
    border-bottom: 1px solid #dfdfdf; 
}

.tabs-profile{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    top: 1px;
    margin: 0;
    padding: 0;
    color: #aaaaaa;
}

.tab2:hover{
    color: #4a4a4a;
}

.tab2.active{
    color: #4a4a4a;
    border-bottom: 3px solid #e84393;
}

.tab2{
    height: 50px;
    cursor: pointer;
    padding: 10px;
}

.tabs-collect{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    position: relative;
    top: 8px;
    margin: 0;
    padding: 0;
    color: #aaaaaa;
}

.tab3.active{
    color: #4a4a4a;
    border-bottom: 3px solid #e84393;
}

.tab3{
    height: 55px;
    z-index: 1;
    cursor: pointer;
    padding: 10px;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    align-content: center;
    padding-bottom: 25px;
    gap: 25px;
}


.input-files{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.container3{
    max-width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.top-content{
    display: flex;
    flex-direction: column;
}


.gradients{
    position: relative;
    bottom: 120px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #181717c7;
    background: linear-gradient(to bottom, rgba(51, 64, 68, 0), #181717c7);
    height: 120px;
}

.collect-infos{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 118px;
    padding-left: 20px;
    align-items: center;
}

.collection-names{
    max-width: 1990px;
    font-size: 39px;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px, rgb(0, 0, 0) 0px 0px 8px;
    color: #fff;
}

.profile-name{
    font-size: 12px;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px, rgb(0, 0, 0) 0px 0px 8px;
    color: #fff;
}

.tubms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9px;
    padding-right: 9px;
    width: 1360px;
    position: relative;
    bottom: 100px;
}

.numbers{
    display: flex;
    color: rgb(89, 89, 89);
    gap: 9px;
}

.user-profile-picture{
    display: flex;
    align-items: center;
    width: 99px;
    z-index: 1;
    height: 99px;
    position: relative;
    left: 26px;
}

.user-profile-picture img{
    width: 99px;
    height: 99px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.uderline-collection{
    display: flex;
    position: relative;
    bottom: 120px;
    width: 1360px;
    border-bottom: 1px solid #dfdfdf;
}

.follow-collection-edit button{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #FF2F97, #FF9159) !important;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    gap: 10px;
}

.profile-quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    gap: 13px;
    align-items: center;
}

.bio{
    color: #4a4a4a;
    font-size: 24px;
}

.username{
    font-size: 12px;
    color: #595959;
}

.users-infos{
    display: flex;
    top: 40px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    position: relative;
}

.text-space-mini{
    display: flex;
    border: 1px solid #dfdfdf;
    padding: 9px;
    width: 290px;
}

.text-space{
    display: flex;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    transition: border 0.2s ease-in-out;
    padding: 9px;
    width: 490px;
}

.text-space:focus{
    border: 1px solid #FF2F97;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px -1px 1px 0px;
}

.mini-text{
    font-size: 14px;
    padding-left: 3px;
    padding-top: 5px;
    color: #aaaaaa;
}

.top-bar{
    display: flex;
    color: rgb(153, 153, 153);
    justify-content: space-between;
}

.left-top-bar{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}
