:root{
    --pink: #ff4477;
    --white: #fff;
    --greywhite: #FAFAFA;
    --whitegrey: #FBFBFB;
    --inactive-grey: #9d9d9d;
    --active-grey: #4a4a4a;
    --lightet-grey: #e9e9e9;
}

.navbar a{
    color: var(--inactive-grey);
}

.navbar{
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    background: var(--white);
    padding: 0 2%;
    padding-top: 2px;
    z-index: 2;
    padding-bottom: 1px;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 1px rgb(0 0 0 / 10%);
}
.navbar.dark-mode{
    --white:#19191C;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    gap: 90px;
}

.heading img{
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.header-logo{
    display: flex;
    justify-content: center;
}

.header-logo img{
    width: 110px;
    height: auto;
    object-fit: cover;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 9px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 19px;
    padding-bottom: 2px;
}
.svg{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 2px;
    gap: 10px;
}

.activee{
    display: flex;
    position: relative;
    top: 4px;
    font-weight: 600;
    color: var(--active-grey);
}

.nav-link{
    display: flex;
    z-index: 1;
    cursor: pointer;
    padding: 10px;
}

.nav-link.activee{
    display: flex;
    position: relative;
    top: 5px;
    border-bottom: 3px solid var(--pink);
    
}

.signt-out{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #FF7CC7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    gap: 10px;
}


.Content{
    max-width: 1360px;
    height: 100%;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.add-image, .post-button{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #FF2F97, #FF9159) !important;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    gap: 10px;
}

.add-image:hover,
.add-image:focusm {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
}

.user-profile{
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.user-profile img{
    width: 29px;
    height: 29px;
    object-fit: cover;
    border-radius: 50px;
}

.middle-center-side{
    display: flex;
    flex-direction: row;
}

.centre-side{
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    padding-left: 3px;
    border: 1px solid rgb(224, 224, 224);
}

.centre-side2{
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    width: 339px;
    padding-left: 3px;
    border: 1px solid rgb(224, 224, 224);
}

.left-side-password{
    display: flex;
    align-items: center;
}

.mini-svg{
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.button-signIn{
    display: flex;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border: none;
    border-image: initial;
}

.button-signIn{
   width: 310px;
}

.social-media-logo{
    display: flex;
    justify-content: center;
}

.social-svg{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.social-media-logo{
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: 390px;
}

.inside-social-media{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}

.facebook:hover{
   
  box-shadow: rgba(3, 70, 255, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.text-disclaimer{
 color: #ffffff;
 font-size: small;
 width: 320px;
 text-align: center;
}

.facebook{
    display: flex;
    align-items: center;
    color: #ffff;
    border-radius: 4px;
    font-weight: bold;
    background-color: #1877F2;
    width: 339px;
}


.google{
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 4px;
    font-weight: bold;
    background-color: #ffffff;
    width: 339px;
}

.google:hover{
   
   box-shadow: rgba(138, 138, 138, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.banner-divider{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
}
.link-under{
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.link-under a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 700;
}

.link-under:hover a {
    color: #FE8CAD;
    text-decoration: underline;
    font-weight: 700;
}

.forget-password{
    color: #ffffff;
    text-decoration: underline;
    font-size: 13px;
}

.forget-password:hover{
    cursor: pointer;
    color: #000000;
}

/*----------Register-tsx-----------*/

.outside-sign-in{
    width: 100%;
    height: 990px;
    max-height: 903px; 
    overflow: hidden;
    overscroll-behavior-y: none;
    background: rgb(255,156,184);
    background: linear-gradient(290deg, rgba(255,156,184,1) 0%, rgba(255,78,136,1) 100%);
   
}

.SignIn{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 190px;
    padding: 91px;
    gap: 9px;
}

.inside-SignIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9px;
    width: 459px;
    gap: 9px;
    z-index: 3;
    background-color: rgb(255, 205, 205); /* Fallback color */
    background-color: rgba(255, 241, 241, 0.4); /* Black w/opacity/see-through */
    backdrop-filter: blur(50px);
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(78, 78, 78, 0.1);
}

.box-inside-register{
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 9px;
    justify-content: center;
}

.header-welcome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.form-register{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 6px;
}

.formulation{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}


