.drop-zone {
  border: 2px dashed var(--active-grey);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  width: 490px;
  height: 390px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.drop-zone:hover {
color: #888;
  background-color: rgba(0, 0, 0, 0.06);
}

.drag-over {
  background-color: #FFDEF1;
  border-color: #FF79C6;
}

.upload-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.upload-btn{
color: #FF79C6;
font-size: 17px;
}

.submit-button-url{
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #FF2F97, #FF9159) !important;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  gap: 10px;
}

.file-types {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.selected-file {
  color: #2e7d32;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.right-time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}


.url-image{
  display: flex;
  flex-direction: row;
  border: 2px dashed var(--active-grey);
  justify-content: space-between;
  gap: 20px;
  border-radius: 12px;
  padding: 30px;
  margin-top: 17px;
}

.url-text{
  color: #888;
}