.middle-tag-info{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 1360px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    bottom: 103px;
    background-color: white;
}

.line-gradients-white{
    position: relative;
    bottom: 90px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #181717c7;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000000c7);
    height: 85px;
}

.left-info-tag{
    display: flex;
    align-items: center;
}


.follow-tag-button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.follow-tag-button:hover,
.follow-tag-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.follow-tag-button:hover {
  transform: translateY(-1px);
}

.follow-tag-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


