.container4{
    width: 1360px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}

.inside-articles{
    display: flex;
    width: 992px;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.header-and-articles{
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 2px;
    color: #4a4a4a;
}

.header-collections-date{
    display: flex;
    gap: 9px;
}

.header-article{
    font-size: 39.2px;
    line-height: 0.8;
    padding-top: 39.2px;
    padding-bottom: 39.2px;
}

.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.articles-photos{
    width: 100%;
    height: 424px;
    overflow: hidden;
    object-fit: cover;
}

.articles-photos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.articles-info-stuf{
    display: flex;
   padding-top: 29px;
    border-top: 1px solid #dfdfdf;
    font-size: 19px;
    line-height: 27.44px;
    padding-bottom: 29px;
    justify-content: center;
    align-items: center;
}

.bottom-articles{
    display: flex;
    gap: 9px;
}

.tags-post-dates{
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    padding-bottom: 9px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dfdfdf;
}

.insider-both{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.user-images{
    display: flex;
    flex-direction: column;
}

.image-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.image-user img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: #fff;
    padding: 1px;
    border-radius: 50%;
}

.by-articles-author{
    display: flex;
    align-items: center;
    gap: 9px;
    padding-bottom: 19px;
    justify-content: space-between;
}

.by-credit-author {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}


.tags-style-article{
    padding: 9px;
    border-radius: 3px;
    background: #FDFAFE;
    margin-right: 13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.date-posted-on{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #595959;
}


.image-pair {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.image-pair img {
  max-width: 48%;
  height: auto;
  border-radius: 8px;
}


.articles-sec{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.titles-sec{
    display: flex;
    padding: 2px;
    justify-content: left;
    font-size: 29px;
    color: #595959;
}

.articles-sections{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 290px;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.articles-sections:hover{
    color: #FD82C1ff;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.sections{
    display: grid;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    align-content: center;
    padding-bottom: 25px;
    gap: 25px;
}

.sections-2{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    align-content: center;
    padding-bottom: 25px;
    gap: 25px;
}

.thumbnail{
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.header-hearts{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 150px;
    align-items: center;
    gap: 169px;
}

.hearts{
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 12px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: #f8f8f8;
    color: #4a4a4a;
}

.captions-resume{
    display: flex;
    position: relative;
    bottom: 35px;
    height: 70px;
    flex-direction: column;
    gap: 9px;
    color: #4a4a4a;
}

.bottom-article{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.title-articles{
color: #4a4a4a;
}


.selectable-image.selected {
  outline: 3px solid #007bff;
  opacity: 0.8;
}

.articles-info-stuf{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.articles-info-stuf img {
    max-height: 390px;
    max-width: 700px;
    padding-right: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
}


.card-preview{
    display: flex;
     white-space: normal;       /* Allows text to wrap */
  overflow: hidden;          /* Hides anything that overflows */
  text-overflow: ellipsis;   /* Adds "..." at the end if it's cut off */
  word-break: break-word;  
}

.like-section{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 9px;
    position: relative;
    top: 114px;
    flex-direction: column;
    color: rgb(74, 74, 74);
}

.liked-button-2{
    cursor: pointer;
    background: none;
}
.liked-button-2 img{
    width: 49px;
    height: 49px;
    object-fit: cover;
}

.right-articles{
    display: flex;
    flex-direction: column;
    width: 990px;
    overflow: hidden;
    line-height: 27.44px;
    margin: 9px;
}

.navigate-sec-prev{
    width: 1899px;
    overflow: hidden;
    height: 400px;
    padding: 9px;
    background: #FBFBFB;
}

.navigate-section{
    display: flex;
    gap: 40px;
    justify-content: center;
}


.left-article{
    display: flex;
    gap: 10px;
}

.article-sections{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.titles-sec p {
    display: flex;
    padding: 2px;
    justify-content: left;
    font-size: 29px;
    color: #595959;
}

.section-article {
    display: flex;
    background-color: #fff;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    gap: 19px;
}


.inside-channels {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 3px;
}

.titles-sec p {
    display: flex;
    padding: 2px;
    justify-content: left;
    font-size: 29px;
    color: #595959;
}

.channels0ne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.chanelsinsider {
    width: 115px;
    height: 90px;
    overflow: hidden;
    border-radius: 5px;
}

.chanelsinsider img {
    width: 115px;
    height: 90px;
    object-fit: cover;
}

.channels-tittles {
    position: relative;
    bottom: 93px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #181717c7;
    background: linear-gradient(to bottom, rgba(51, 64, 68, 0), #181717c7);
    height: 90px;
    border-radius: 5px;
}

.channels-tittles p {
    position: relative;
    bottom: -60px;
    color: #fff;
}

.container4 {
    max-width: 1360px;
    height: 100%;
    margin: 2px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}